.concept {
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border: 1px solid white;
    border-radius: 5px;
    position: relative;
    left: 5px;
    bottom: 140px;
    width: 580px;
    margin-bottom: 20px;
    font-size: 1.2rem;
    line-height: 1.6;
}

.about{
    text-align: center;
    text-decoration: solid;
    color: white;
    position: relative;
    bottom: 220px;
    text-shadow: 3px 3px red;
}

.protect{
    padding-top: 10px;
    color: white;
    text-align: center;
    text-shadow: 2px 1px red;
    text-decoration-line: underline;
    text-decoration-style: dashed;
    position: relative;
    top: 20px;
}

.spider{
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
    color: #fff;
    background-color: black;
    overflow: hidden;
};

.backgroundimg2{
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    filter: brightness(0.5);
}